<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>

    <add key="SYSTEM" value="DEV"/>

    <add key="PAYPAL" value="PAYPAL"/>
    <add key="CONNECTION_STRING_PROD" 
       value="Data Source=mssql1.openhost.net.nz; Initial Catalog=abacadb;User ID=abaca;Password=password01; "/>
    <add key="CONNECTION_STRING_DEV" 
       value="Data Source=NAME\SQLEXPRESS;Initial Catalog=abacasoft;User ID=sa;Password=password01;"/>
    <add key="SENDER_EMAIL_DEV" value="helenw.williams@xtra.co.nz"/>
    <add key="SENDER_EMAIL_PROD" value="contact@jewelleryonpc.com"/>
    <!--
    <add key="RECEIVER_EMAIL" value="contact@jewelleryonpc.com"/>
    -->
    <add key="RECEIVER_EMAIL" value="helenw.williams@xtra.co.nz"/>
    
    <add key="SMTP_HOST_DEV" value = "smtp.xtra.co.nz" />
    <add key="NET_USER_LOGIN_DEV" value = "helenw.williams@xtra.co.nz" />
    <add key="NET_USER_PASS_DEV" value = "" />
    
    <!--    
    <add key="SMTP_HOST_PROD" value = "winplesk7.openhost.net.nz" />
    -->
    <add key="SMTP_HOST_PROD" value = "mail.jewelleryonpc.com" />
    <add key="NET_USER_LOGIN_PROD" value = "contact@jewelleryonpc.com" />
    <add key="NET_USER_PASS_PROD" value = "password01" />

    <add key="AMOUNT" value="110.00"/>
    <add key="CURRENCY" value="USD"/>
    <add key="SERVER_DEV" value="http://localhost:2000" />
    <add key="SERVER_PROD" value="http://www.jewelleryonpc.com" />
    <add key="EMAIL_MESSGE_BODY" value="This is the message body\r\n and a new line here\r\n and here."/>

  </appSettings>


  <!--
  <connectionStrings>    
		<add name="pubsConnectionString1" 
			connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\pubs.mdf;Integrated Security=True;User Instance=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
  -->
  
  <system.web>
		<compilation debug="true" />
		<customErrors mode="Off" />
		<authentication mode="Forms" />

		<!-- Use any of the following values for the styleSheetTheme attribute: "Granite", "Sand", "Paper".-->
		<pages styleSheetTheme="Granite" />
	</system.web>
</configuration>
